<template>
    <ul role="group">
        <li aria-level="3" role="treeitem">
          <div class="slds-tree__item">
            <button class="slds-button slds-button_icon slds-m-right_x-small slds-is-disabled" aria-hidden="true" tabindex="-1" title="Expand Tree Item">
              <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
              </svg>
              <span class="slds-assistive-text">Expand Tree Item</span>
            </button>
            <span class="slds-has-flexi-truncate" style="border-style: solid;">

              <!-- Inline Content -->
              <lightning-card>
                <template if:true={hasFiles}>
                  <div style="min-height: 50px;">
                    <lightning-datatable
                      key-field="id"
                      data={fileData}
                      columns={columns}
                      onrowaction={handleRowAction}
                      show-row-number-column
                      hide-checkbox-column> 
                    </lightning-datatable>
                  </div>
                </template>

                <div class="slds-align_absolute-center">
                    <lightning-file-upload
                      name="fileUploader"
                      record-id={contactId}
                      onuploadfinished={handleUploadFinished}
                      multiple>
                  </lightning-file-upload>
                </div>
              </lightning-card>


            </span>
          </div>
        </li>
      </ul>
</template>