<template>
  <!-- Contact Row -->
  <li aria-expanded={isExpanded} aria-label="Tree Branch 2" aria-level="2" role="treeitem" aria-selected={isSelected}>
    <div class="slds-tree__item">
      <button class="slds-button slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title={contactData.Name}>
        <!-- <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
        </svg> -->
        <template if:true={hasFiles}>
          <lightning-button-icon icon-name="utility:chevronright" alternative-text="Show Files" title="Show Files"
                                  size="small" variant="bare" onclick={handleToggleExpand}>
          </lightning-button-icon>
        </template>
        <span class="slds-assistive-text">{contactData.Name}</span>
      </button>
      <span class="slds-has-flexi-truncate">
        <span class="slds-tree__item-label slds-truncate" title="Tree Item" onclick={handleNameClick}>{contactData.Name} {numOfFiles}</span>
      </span>
    </div>

    <!-- File Sub-item -->
      <ul role="group">
        <c-file-node file-data={contactData.Files} contact-id={contactData.Id} onupload={handleFileUploaded}></c-file-node>
      </ul>
  </li>
</template>