<template>

    <lightning-card>
        <lightning-layout>
            <lightning-layout-item  padding="around-small" size="12">
                <div class="slds-tree_container">
                    <h4 class="slds-tree__group-header" id="treeheading">Recent Accounts</h4>
                    <ul aria-labelledby="treeheading" class="slds-tree" role="tree">
        
                    <template if:true={accounts}>
                        <template for:each={accounts} for:item="account">
                            <c-account-node key={account.Id} account-data={account} onupload={handleFileUploaded}></c-account-node>
                        </template>
                    </template>
                    </ul>
                </div>
            </lightning-layout-item>
        </lightning-layout>

    </lightning-card>
</template>