<template>
  <!-- Account Row -->
  <li aria-expanded={isExpanded} aria-label="Tree Branch" aria-level="1" role="treeitem" aria-selected={isSelected}>
    <div class="slds-tree__item">
      <button class="slds-button slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title={accountData.Name}>
        <!-- <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
        </svg> -->
        <template if:true={hasContacts}>
          <lightning-button-icon icon-name="utility:chevronright" alternative-text="Show Contacts" title="Show Contacts"
                                  size="small" variant="bare" onclick={handleToggleExpand}>
          </lightning-button-icon>
        </template>
        <span class="slds-assistive-text">{accountData.Name}</span>
      </button>
      <span class="slds-has-flexi-truncate">
        <span class="slds-tree__item-label slds-truncate" title="Tree Branch" onclick={handleNameClick}>{accountData.Name} {numOfFiles}</span>
      </span>
    </div>
    
    <!-- Contact Iterator -->
    <template if:true={accountData.Contacts}>
        <template for:each={accountData.Contacts} for:item="contact">
          <ul role="group" key={contact.Id}>
            <c-contact-node contact-data={contact} onupload={handleFileUploaded}></c-contact-node>
          </ul>
        </template>
    </template>

</li>
</template>